<mat-sidenav-container>
    <mat-sidenav #appDrawer mode="rail" opened="false">
        <!-- TODO: Trim down the right padding -->
        <!-- TODO: Colorize differently -->
        <mat-nav-list class="dashboard" #items>
            <!-- TODO: Replace with a more "animated" button -->
            <a mat-list-item (click)="appDrawer.toggle()">
                <mat-icon mat-list-icon>menu</mat-icon>
                <p matLine>Menu</p>
            </a>

            <mat-divider></mat-divider>

            <a mat-list-item>
                <mat-icon mat-list-icon (click)="appDrawer.toggle()">search</mat-icon>
                <input matLine id="search" type="search" (keyup)="searchTerm$.next($event.target.value)"/>
            </a>

            <a mat-list-item routerLink="/overview" routerLinkActive="active">
                <mat-icon mat-list-icon>home</mat-icon>
                <p matLine>Overview</p>
            </a>

            <a mat-list-item routerLink="/fund-focus/SPY" routerLinkActive="active">
                <mat-icon mat-list-icon>attach_money</mat-icon>
                <p matLine>Fund</p>
            </a>

            <!-- Sort header -->
            <a mat-list-item routerLink="/dash" routerLinkActive="active">
                <mat-icon mat-list-icon>grid_on</mat-icon>
                <p matLine>Holdings</p>
            </a>

            <a mat-list-item routerLink="/compare/SPY/QQQ" routerLinkActive="active">
                <mat-icon mat-list-icon>compare_arrows</mat-icon>  <!-- biotech -->
                <p matLine>Compare</p>
            </a>

            <a mat-list-item routerLink="/overview" routerLinkActive="active">
                <mat-icon mat-list-icon>settings</mat-icon>
                <p matLine>Settings</p>
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- https://scotch.io/tutorials/angular-2-transclusion-using-ng-content -->
        <!-- <ng-content select='[router-view]'></ng-content> -->
        <router-outlet style="height: 100vh; margin: 0" router-view></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
