@import '~@angular/material/theming';

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;

  /* TODO: Temporary debugging */
  background-color: red;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.tags-container {
  a:hover {
    letter-spacing: initial;
  }
}

.newsItem {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(5);
    a {
      letter-spacing: initial;
      transition: initial;

      background-color: #ed3330 !important;
      color: #fff !important;
    }
  }
}
