<div class="grid-container" style="height: 100%; margin: 0">
  <mat-grid-list cols="30" rowHeight="fit" style="height: 99vh">
    <mat-grid-tile [colspan]="15" [rowspan]="4">
      <mat-card class="dashboard-card fund-name">
        <mat-card-content class="dashboard-card-content fund-name">
          <div>
            <!-- TODO: Formatting issues if image isn't exactly square -->
            <img src="https://storage.googleapis.com/iex/api/logos/{{ symbol | uppercase }}.png"
              style="display: inline-block; vertical-align: middle;" mat-card-image>
            <div style="display: inline-block; padding-left: 15px; width: 75%">
              <h1 style="margin-top: 0; margin-bottom: 15px">{{ fund_name | async }} ({{ symbol }})</h1>
              <!-- industry -->
              <!-- sector -->
              <p style="overflow: hidden; max-height: 3.6em">{{ description | async }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- auxillary routes? -->
    <!-- https://medium.com/agilix/change-the-route-without-reloading-in-angular-7a4aa82a8d3e -->
    <!-- ngSwitch -->
    <mat-grid-tile [colspan]="15" [rowspan]="16">
      <mat-card class="dashboard-card graphs-card">
        <mat-card-content class="dashboard-card-content graph-content" style="height:97%">
          <div>Graphs</div>
          <mat-tab-group selectedIndex="1" class="fund-graph-tabs">
            <mat-tab label="History">
              <!-- Can use tabs with router? -->
              <!-- https://swimlane.github.io/ngx-charts/#/ngx-charts/number-card -->

              <!-- TODO: Find a way to slightly shrink the graph so it's not right against the borders -->
              <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
                <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" gradient="false" xAxis="true"
                  yAxis="true" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Country"
                  yAxisLabel="GDP Per Capita">
                </ngx-charts-bar-vertical>
              </div>
            </mat-tab>
            <mat-tab label="Makeup">
              <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
                <ngx-charts-pie-chart [scheme]="colorScheme" [results]="single" legend="false" explodeSlices="false"
                  doughnut="true" gradient="false">
                </ngx-charts-pie-chart>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--  -->
    <mat-grid-tile [colspan]="9" [rowspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content tags-container"
          style="display: flex; justify-content: space-around;">
          <a>{{ themes[0] }}</a>
          <a>Large Cap</a>
          <a>USA</a>
          <!-- <a *ngIf="selected_theme">{{selected_theme}}</a> -->
          <!-- TODO: The values are showing up UNDER the page?????? -->
          <!-- <mat-form-field class="example-chip-list" style="width:100%" appearance="fill">
            <mat-select style="background-color: white;">
              <mat-option value="foo">Foo</mat-option>
              <mat-option value="bar">Bar</mat-option>
              - <mat-option *ngFor="let theme of themes" [value]="theme">{{theme}}</mat-option>
              <mat-option [value]="NEW_THEME_SELECTOR_VALUE"></mat-option> --
            </mat-select>
          </mat-form-field>-->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="6" [rowspan]="3">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content quote-card" style="transform: translateY(-6px)">
          <div>
            <h1 style="margin: 0; width: fit-content; float: left">${{ price | async }}</h1>
            <p style="margin: 0"><strong>${{ day_change | async }} ({{ day_change_pct | async }}%)</strong></p>
            <!-- Can't do the "dollar increase" aspect with years -->
            <p style="margin: 0">(YTD: {{ year_change | async }}%)</p>
            <div style="padding-top: 10px">
              <p style="width: fit-content; float: left; margin: 0">
                <strong>Bid:</strong> {{ bid_quantity | async }} at ${{ bid_price | async }}
              </p>
              <p style="width: fit-content; float: right; margin: 0">
                <strong>Ask:</strong> {{ ask_quantity | async }} at ${{ ask_price | async }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- ngx-chart may be what I want (number cards) -->
    <!-- TODO: There's likely more information that could be gained here -->
    <!-- Should I include a "purchase" card here too? -->
    <mat-grid-tile [colspan]="15" [rowspan]="9">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content stats-card">
          <h1>Statistics</h1>
          <ul style="list-style: none;">
            <li *ngFor="let stat of stats_table">
              <strong>{{ stat.stat }}: </strong>{{ stat.value }}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- TODO: These "news" stories look ugly -->
    <mat-grid-tile [colspan]="30" [rowspan]="12" *ngIf="!(is_etf_fund | async)">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content stock-news-list">
          <mat-grid-list cols="30" rowHeight="fit" style="height: 36vh" [gutterSize]="'10px'">
            <mat-grid-tile *ngFor="let story of news | async" [colspan]=5 [rowspan]=4>
              <mat-card class="cardPardding newsItem" style="background-color: gray;">
                <a [href]="story.url">{{ story.headline }}</a>
                <!-- <img [src]="story.image"/> -->
                <!-- related -->
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- TODO: Why is table not showing up? -->
    <mat-grid-tile [colspan]="30" [rowspan]="12" *ngIf="is_etf_fund | async">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content etf-constituents-list" style="display: flex; justify-content: center;">
          <!-- mat-table doesn't work for some reason (translates to comments) -->
          <table>
            <tr>
              <th *ngFor="let col of displayed_columns">
                {{ col | uppercase }}
              </th>
            </tr>
            <tr *ngFor="let constituent of constituents">
              <td>{{ constituent.ticker }}</td>
              <td>{{ constituent.name }}</td>
              <td>{{ constituent.weight }}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
