<!-- TODO: How does justify content work with grids? -->
<mat-grid-list cols="16" rowHeight="2:1" gutterSize="10px" cdkDropListGroup>
  <mat-grid-tile colspan="5" rowspan="3">
    <div style="width: 100%; display: flex; justify-content: space-around;">
      <!-- style="width: fit-content; height: 60%; display: grid; float: left; padding-right: 30px" -->
      <div style="display: flex">
        <mat-form-field appearance="fill" [style.width.px]="200">
          <select matNativeControl required>
            <option value="total">Total</option>
            <option *ngFor="let broker of brokerages" [value]="broker">{{ broker | titlecase }}</option>
          </select>
        </mat-form-field>
        <div>
          <h2 style="margin: 0px">${{ funds.available | number : '1.2' }}</h2>
          <h4 style="margin-right: 20px; padding-left: 10px; margin:0px">${{ funds.spent | number: '1.2' }}</h4>
          <h4 style="margin-right: 20px; margin:0px">${{ funds.sold | number: '1.2' }}</h4>
        </div>
        <!-- TODO: Could actually give a little more information here -->
      </div>
      <div style="display: grid; float: right; align-content: center;">
        <button mat-raised-button (click)="openAllocateFunds()">Allocate Funds</button>
        <button mat-raised-button (click)="openAddExternal()">Add External</button>
      </div>
    </div>
    <div style="width: 100%; display: flex; justify-content: space-around;">
      <!-- style="width: fit-content" -->
      <div><strong>To Fractional Shares</strong></div>
      <!-- TODO: The placeholders don't go away when -->
      <mat-form-field [style.width.px]=100>
        <input matInput placeholder="Security">
      </mat-form-field>
      <mat-form-field [style.width.px]=100>
        <input matInput placeholder="Amount">
      </mat-form-field>
      <!--  style="width: auto" -->
      <div>{{ fract_shares | number : '1.2' }} shares</div>
    </div>
  </mat-grid-tile>
  <!-- TODO: Not sure what to put here -->
  <mat-grid-tile colspan="6" rowspan="3">
    <h1>Portfolio Planning</h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="3">
    <ngx-charts-number-card [scheme]="colorScheme" [results]="scorecard" [valueFormatting]="scorecardValueFormatting"
      [labelFormatting]="scorecardLabelFormatting" animations="true"></ngx-charts-number-card>
  </mat-grid-tile>

  <!-- Allocation cards -->
  <mat-grid-tile id="allocation_block" colspan="4" rowspan="17" class="categories" (contextmenu)="newCategory($event)">
    <app-stocklist *ngFor="let category of categories | ternary: 0" [category]="category" [total_equity]="equity_observable$" (change)="onHoldingEvent($event)">
    </app-stocklist>
  </mat-grid-tile>
  <mat-grid-tile id="allocation_block" colspan="4" rowspan="17" class="categories" (contextmenu)="newCategory($event)">
    <app-stocklist *ngFor="let category of categories | ternary: 1" [category]="category" [total_equity]="equity_observable$" (change)="onHoldingEvent($event)">
    </app-stocklist>
  </mat-grid-tile>
  <mat-grid-tile id="allocation_block" colspan="4" rowspan="17" class="categories" (contextmenu)="newCategory($event)">
    <app-stocklist *ngFor="let category of categories | ternary: 2" [category]="category" [total_equity]="equity_observable$" (change)="onHoldingEvent($event)">
    </app-stocklist>
  </mat-grid-tile>

  <!-- Watch/search lists -->
  <mat-grid-tile colspan="4" rowspan="17">
    <!-- style="width: 100%; height: 100%" -->
    <mat-accordion class="side-accordion" style="height:100%; width:95%; margin-right:20px">
      <!-- style="width: 100%" -->
      <mat-expansion-panel hideToggle>
        <!-- style="background: darkgray" -->
        <mat-expansion-panel-header>
          <!-- style="align-items: center; text-align: center" -->
          <mat-panel-description>
            <h3>Search</h3>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <!-- style="width: 100%; display: flex; align-items: center; padding-bottom: 8px" -->
          <div >
            <!-- style="border: none; width: 100%" -->
            <input type="text" class="form-control" placeholder="Search" />
          </div>
          <mat-divider></mat-divider>
          <!-- style="padding-top: 10px" -->
          <div #portfolioSearchResults >
            <!-- TODO: app-holding if we can identify a specific security -->
            <app-holding *ngFor="let symbol of possible_funds" [symbol]="symbol"></app-holding>
            <mat-card *ngFor="let article of news_articles"></mat-card>
          </div>
        </mat-card>
      </mat-expansion-panel>

      <!--  style="width: 100%; max-height: 100%;" -->
      <mat-expansion-panel hideToggle [expanded]="true" style="height: 95%" class="watchlist">
        <!-- style="background: darkgray" -->
        <mat-expansion-panel-header>
          <!-- style="align-items: center; text-align: center" -->
          <mat-panel-description>
            <h3>Watchlist</h3>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- style="height:800px; overflow: scroll" -->
        <mat-list cdkDropList [cdkDropListData]="watchlist" (cdkDropListDropped)="addToWatchlist($event)" style="overflow: scroll">
          <app-holding *ngFor="let w of watchlist" [symbol]="w.symbol"></app-holding>
        </mat-list>
      </mat-expansion-panel>

    </mat-accordion>
    <!-- <mat-form-field style="width: 100%">
      <input matInput placeholder="Symbol">
    </mat-form-field>
    <mat-divider [inset]="true"></mat-divider> -->
    <!-- Make two expandable divs here. One watchlist, one search. Only one is openable at a time -->
  </mat-grid-tile>
</mat-grid-list>
