<!-- <app-graphs> -->
    <!-- <ng-template #graph2 label="Makeup">
        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="single" legend="false" explodeSlices="false"
                doughnut="true" gradient="false">
            </ngx-charts-pie-chart>
    </ng-template> -->
<!-- </app-graphs> -->

<!-- <ng-template #graph1>
    <mat-tab label="History">
        <div class="graph-container">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" gradient="false" xAxis="true"
                yAxis="true" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Country"
                yAxisLabel="GDP Per Capita">
            </ngx-charts-bar-vertical>
        </div>
    </mat-tab>
</ng-template> -->
<!-- <mat-tab-group selectedIndex="1" class="graph-tabs">
    <ng-container *ngTemplateOutlet="graph1"></ng-container>
</mat-tab-group>

<ng-template #graph1>
    <mat-tab label="History">
        <div class="graph-container">
            <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" gradient="false" xAxis="true"
                yAxis="true" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Country"
                yAxisLabel="GDP Per Capita">
            </ngx-charts-bar-vertical>
        </div>
    </mat-tab>
</ng-template> -->

<app-graph-holder>
    <app-graph-component><a>foo</a></app-graph-component>
</app-graph-holder>
