<div class="grid-container" style="height: 100%; margin: 0">
  <mat-grid-list cols="30" rowHeight="fit" style="height: 99vh">
  <!-- TODO: Will likely be 'easier' to reuse if divide grid into 3 colums instead -->
    <mat-grid-tile [colspan]="15" [rowspan]="4">
      <mat-card class="dashboard-card fund-name">
        <mat-card-content class="dashboard-card-content fund-name">
          <div>
            <img src="https://storage.googleapis.com/iex/api/logos/{{ base | uppercase }}.png"
              style="display: inline-block; vertical-align: middle;" mat-card-image>
            <div style="float: right; padding-right: 15px; width: 75%;">
              <h1 style="margin-top: 0; margin-bottom: 15px">{{ base_fund.fund_name | async }} ({{ base }})</h1>
              <p style="overflow: hidden; max-height: 3.6em">{{ base_fund.description | async }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- TODO: Radar graph of comparison dimensions here -->

    <mat-grid-tile [colspan]="15" [rowspan]="4">
      <mat-card class="dashboard-card fund-name">
        <mat-card-content class="dashboard-card-content fund-name">
          <div>
            <img src="https://storage.googleapis.com/iex/api/logos/{{ replace | uppercase }}.png"
              style="display: inline-block; vertical-align: middle;" mat-card-image>
            <div style="display: inline-block; padding-left: 15px; width: 75%">
              <h1 style="margin-top: 0; margin-bottom: 15px">{{ comp_fund.fund_name | async }} ({{ replace }})</h1>
              <p style="overflow: hidden; max-height: 3.6em">{{ comp_fund.description | async }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="30" [rowspan]="10">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content comparison-graphs" style="height:97%">
          <mat-tab-group selectedIndex="1" class="fund-graph-tabs" headerPosition="below">
            <mat-tab label="Regions">
              <div class="base-graph" style="width:45%; float: left">
                <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
                  <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" gradient="false" xAxis="true"
                    yAxis="true" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Country"
                    yAxisLabel="GDP Per Capita">
                  </ngx-charts-bar-vertical>
                </div>
              </div>

              <!-- TODO: Create separate graphs for each fund -->
              <div class="comp-graph" style="width:45%; float: right">
                <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
                  <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" gradient="false" xAxis="true"
                    yAxis="true" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Country"
                    yAxisLabel="GDP Per Capita">
                  </ngx-charts-bar-vertical>
                  </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Alternative: Display "This fund is best at X for each fund" <- but I need to know base correlations -->
    <!-- Alternative: Display "How would this fund affect the makeup of the portfolio" -->
    <mat-grid-tile [colspan]="30" [rowspan]="7">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content comparison-details" style="display: flex; justify-content: center;">
          <div>Details Comp</div>
          <table>
            <tr>
              <th>{{ base }}</th>
              <th>Metric</th>
              <th>{{ replace }}</th>
            </tr>
            <tr>
              <td>foo</td>
              <td>foo</td>
              <td>foo</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
