<div class="grid-container" style="height: 100%; margin: 0">
  <mat-grid-list cols="30" rowHeight="fit" style="height: 99vh">

    <!-- TODO: This is the "routable" part really
    <mat-grid-tile *ngFor="let card of cards" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div>{{card.title}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->

    <!-- TODO: Don't know how to integrate custom html in the above code.
         Hopefully a `ng-content` would allow me to write the template in the component -->
    <mat-grid-tile [colspan]="9" [rowspan]="4">
      <mat-card class="dashboard-card equity-overview">
        <mat-card-content class="dashboard-card-content equity-overview-content">
          <div>Overview</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="14" [rowspan]="4">
      <mat-card class="dashboard-card scoring">
        <mat-card-content class="dashboard-card-content scoring-content"
        style="display: flex; height: 100%">
          <!-- <div>Scoring</div> -->
          <!-- TODO: There's also tables -->
          <!-- This isn't expanding to the parent div -->
          <!-- <mat-grid-list cols="5" rowHeight="fit">
            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngFor="let item of scores | keyvalue">
              <mat-card class="dashboard-card scoring scores">
                <mat-card-content class="dashboard-card-content scoring-content score-content">
                  <div>{{ item.key }}</div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list> -->
          <!-- <mat-list class="list-horizontal">
            <mat-list-item *ngFor="let item of scores | keyvalue" class="scoring-item-content">
              <div>{{ item.key }}</div>
              <mat-divider></mat-divider>
              <div>{{ item.value }}</div>
            </mat-list-item>
          </mat-list> -->
          <!-- <table mat-table class="mat-elevation-z8">
            <ng-container matColumnDef="foo">
              <th mat-header-cell *matHeaderCellDef>foo</th>
              <td mat-cell>bar</td>
            </ng-container> -->
            <!-- https://dart-lang.github.io/angular_components/#/scorecard -->
          <div *ngFor="let item of scores | async | keyvalue" style="height: 100%; padding-right: 10px; padding-left: 10px">
            <div style="height: 50%; width: 100%">{{ item.key | uppercase }}</div>
            <div style="height: 50%; width: 100%">{{ item.value }}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="7" [rowspan]="28">
      <mat-card class="dashboard-card holdings">
        <mat-card-content class="dashboard-card-content holdings-content">
          <div>
              <mat-icon mat-list-icon>search</mat-icon>
              <input matLine id="holding_search" type="search" (keyup)="searchTerm$.next($event.target.value)"/>
          </div>
          <mat-list style="overflow: auto; max-height: 100vh">
            <!-- TODO: Maybe change this to an accordion later? Give more holding information -->
            <mat-list-item *ngFor="let item of holdings | async | keyvalue">
              <div style="width: 4ch;">{{ item.key }}</div>
              <div>{{ item.value.quantity }} shares</div>
              <div>${{ item.value.equity }}</div>
              <a [routerLink]="['/fund-focus/', item.key]" routerLinkActive="active" class="to-fund-link ">
                <mat-icon mat-list-icon style='justify-self: flex-end;'>read_more</mat-icon>
              </a>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="23" [rowspan]="6">
      <mat-card class="dashboard-card news">
        <mat-card-content class="dashboard-card-content news-content">
          <div>News</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- https://material.angular.io/components/tabs/overview -->
    <mat-grid-tile [colspan]="23" [rowspan]="18">
      <mat-card class="dashboard-card overview-graphs">
      <mat-card-content class="dashboard-card-content overview-graphs" style="height:97%">
        <mat-tab-group selectedIndex="1" class="overview-graph-tabs">
          <mat-tab label="History">
            <!-- Can use tabs with router? -->
            <!-- https://swimlane.github.io/ngx-charts/#/ngx-charts/number-card -->

            <!-- TODO: Find a way to slightly shrink the graph so it's not right against the borders -->
            <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
              <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single" gradient="false" xAxis="true"
                yAxis="true" showXAxisLabel="true" showYAxisLabel="true" xAxisLabel="Country"
                yAxisLabel="GDP Per Capita">
              </ngx-charts-bar-vertical>
            </div>
          </mat-tab>
          <mat-tab label="Makeup">
            <div style="height: 100%; display: flex; justify-content: center; align-items: center;">
              <ngx-charts-pie-chart [scheme]="colorScheme" [results]="single" legend="false" explodeSlices="false"
                doughnut="true" gradient="false">
              </ngx-charts-pie-chart>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>
