
.mat-expansion-panel-header {
    background: grey !important;
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;

    mat-panel-title, mat-panel-description {
        align-items: center;

        h3 {
            margin: 0;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }

    .mat-list-base[dense] .mat-list-item .mat-list-item-content {
        height: fit-content;
    }

    mat-panel-title, .mat-expansion-panel-header-description {
        width: 25%;
        justify-content: center;
    }

    .mat-panel-description {
        justify-content: space-between;
    }

    .mat-expansion-panel-header-5 {
        height: 52px;
    }
}
