@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/theming';
@import '~@angular/cdk/overlay-prebuilt.css';

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

input,textarea {
  width: 100%;
  display: block
}

// Cause applying in holding.component.css wasn't working, just for this one element though
input.e-numeric-hidden {
  display: none;
  visibility: hidden;
}

.broker-split {
  .mat-list-item-content {
      justify-content: space-between;
  }
}

div.mat-expansion-panel-body {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
